<!-- block source -->
<div class="md-source source-detail">
  <div class="md-source-repo-icon">
    <a href="https://gitlab.com/marcoelc"> <i class="fa fa-gitlab" aria-hidden="true"></i></a>
  </div>

  <div class="md-source-repo-url">
    <a href="{{ config.repo_url }}" class="md-source">
      {{ config.repo_name }}
    </a>

  </div>

</div>
<!--  endblock -->